$color-background: #FFFC00;
$color-foreground: black;

@keyframes cursor
{
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadeIn
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut
{
    0% { opacity: 1; }
    100% { opacity: 0; }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
    background-color: $color-background;
}

body
{
    color: $color-foreground;
    letter-spacing: .2rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
}

.option
{
    background-color: $color-background;
    padding: 1rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    width: 750px;
    border: 2px solid black;
    opacity: 0;
    font-family: "Source Sans Pro", sans-serif;

    &:hover
    {
        color: $color-background;
        background-color: $color-foreground;
    }
}

#option-box
{
    padding: 0 2rem;
    position: absolute;
    bottom: 0;
}

#big-text-container
{
    font-size: 3.5rem;
    max-width: 75%;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-wrap;
    width: 100%;
}

#big-text
{
    width: 100%;
    text-align: left;
    line-height: 8rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;

    &::after
    {
        content: "|";
        opacity: 0;
        animation: cursor .5s ease-in-out alternate infinite;
    }
}