doctype html
html(lang="en")
    head
        include ../headertags
        link(rel="stylesheet" type="text/css" href="../shared.css")
        link(rel="stylesheet" type="text/css" href="main.css")
        script(src="../sharedfunctions.js")
body
    #container
        h2 Hi